$color_darkwine : #991010;
$color_pink: #FFE6E6;

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fontWorkSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('./assets/fontWorkSansBold.ttf');
}

body {
  padding: 0;
  margin: 0;
}

.navBar_container{
  background-color: $color_darkwine;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em 0 2em;
  box-sizing: border-box;

  .rightItems_container{ 
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

.mainPage_container{
  position: relative;
  z-index: -2;
  background-color: $color_pink;
}

.homepage_title{

  display: inline-block;
  color: white;
  font-family: "Work Sans Bold";
  font-style: normal;
  font-size: 9.5vw;
  text-align: center;
  text-shadow: 0px 0px 8px #000000; 
}

.common_font {
  color: white;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-decoration: none;
}

//#region pieces

.mainBackground {
  background-color: $color_pink;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainInnerBackground{
    width: 1280px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.productContainer {
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 350px;
  min-width: 350px;
  border-radius: 28px;
  transition: 200ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .productInfo {
    top: 26px;
    left: 288px;
    position: absolute;
    cursor: pointer;

  }

  .productTitle {
    font-family: 'Work Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color_darkwine;
  }

  .productDesc{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  .productButtonToCart {
    flex: 1;
    width: 100%;
    background-color: transparent;
    border: none;
    animation: 1s rollRight;

    //font
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #991010;

    &:hover{
      background-color: rgb(240, 240, 240);
      cursor: pointer;
    }
  }

  //PlusMinusComponent

  .buttonIcon {
    height: 44px;
    width: 44px;
    border-radius: 14px;
    background-color: $color_darkwine;
    transition: 200ms;

    img {
      width: 100%;
      height: 100%;
      filter: invert(100%);
    }

    &:hover {
      background-color: rgb(0, 0, 0);
    }
  }

  .defaultIcon {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    
    img {
      width: 100%;
      height: 100%;

    }
  }

  .buttonReturn {
    background-color: $color_darkwine;
    border: none;
    width: 32px;
    height: 32px;
    transition: 300ms;
    border-radius: 14px;
    color: white;
    position: absolute;
    left: 8px;
    top: 8px;
    

    &:hover {
      background-color: white;
      color: $color_darkwine;
    }
  }
  
  .productInput {
    //border: 2px  solid $color_darkwine;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    font-family: "Work Sans";
    //
  }

  //AddToCartComponent
  .productAddToCart {
    flex: 1;
    width: 100%;
    margin-top: 6px;
    animation: 1s rollRight;
  }

  &:hover {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  }
}


.carouselProducts {
  display: flex;
  overflow-x: scroll;
  padding: 25px 90px 25px 20px;
  gap: 30px;
  flex: 1;

  -ms-overflow-style: none; 
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }
}

.carouselHL {
  height: 6px;
  width: 90%;
  border-width: 0px;
  background-color: #FFE6E6;
  border-radius: 50px;
}

//#endregion

//#region effects
.hoverGrow {

  transition: 200ms;
  cursor: pointer;
  
  &:hover{
    transform: scale(1.2);
  }
}
//#endregion

//#region animations

@keyframes rollRight {
  0% {
    transform: translateX(+300px);
  }

  100% {
    transform: translateX(0px)
  }
}

@keyframes rollLeft {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px)
  }
}




//#endregion